body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(234, 234, 236);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.login {
  color: #000;
  width: 550px;
  height:600px;
  top:50%;
  left:50%;
  padding: 35px 25px;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border-radius: 15px;
  background-color: #fff;
  border:1px solid #000;
  }

  .t-field {
    background-image: url(./images/graph-paper.png);
    background-position: center;
    box-sizing: border-box;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    height: 50%;
    border:1px solid #000;
    border-radius: 5px;
  }

  .triangle-form {
    box-sizing: border-box;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 30px;
    height: 50%;
  
  }

  .form-control {
    padding-top: 15px;
    padding-left: 40px;
  }

  .triangle-form input[type=submit]{
    margin-top: 40px;
    margin-left: 70px;
    width: 110px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background-color:rgb(47, 47, 75);
    color: #fff;
    border-radius: 4px;
    text-align: center;


  }

  .form-control input[type=text]{
    height: 30px;
    border-radius: 6px;
    border:1px solid;
  }
  .form-control>label{
    /* padding-right: 5px; */
    position:relative;
    top:-20px;
    left:50px;
    background-color:white;
    font-size: 10px;
}

.message {
   margin-top: 8%;
   margin-left: 20%;
}
.equilateral{
width: 0;
height: 0;
border-style: solid;
border-width: 0 100px 173px 100px;
border-color: transparent transparent #000 transparent;
margin-left: 123px;
}

.equilateral:before {
  content:"";
  width:0px;
  height:0px;

  position: absolute;
  border-style: solid;
  border-width: 0 93px 166px 94px;
  border-color: transparent transparent #fff transparent;
  top:40px;
  right: 181px;

}
.scalene {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 95px 175px 150px;
  border-color: transparent transparent #000 transparent;
  margin-left: 102px;
}
.scalene:before {
  content:"";
  width:0px;
  height:0px;

  position: absolute;
  border-style: solid;
  border-width: 0 90px 168px 144px;
  border-color: transparent transparent #fff transparent;
  top:40px;
  right: 155px;

}
.isosceles {
  margin-left: 158px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 65px 176px 65px;
  border-color: transparent transparent #000 transparent;
}
.isosceles:before {
  content:"";
  width:0px;
  height:0px;

  position: absolute;
  border-style: solid;
  border-width: 0 62px 170px 62px;
  border-color: transparent transparent #fff transparent;
  top:40px;
  right: 212px;

}

